.movies {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

@media (min-width: 1104px) {
    .movies {
        display: grid;
        column-gap: 24px;
        grid-template-columns: repeat(4, 1fr);
    }
}
